:root {
    font-size: 15px;
    font-family: serif;
    --popup-z-index: 9000;
    --dropdown-z-index: 900;
    --body-bg: #fff;
}

* {
    box-sizing: border-box;
}



/* ==================================================================

                              COMMON STYLES

   ================================================================== */

section {
    border: 1px solid #ccc;
    padding: 1rem;
    margin: 1rem;
}



table {
    width: 100%;
}

th {
    text-transform: uppercase;
    padding: 0.5rem 1rem;
    font-size: 0.8em;
    font-family: sans-serif;
}

td {
    padding: 0.25rem 0.35rem;
}



/* ==================================================================

                              UTILITY CLASSES

   ================================================================== */

.button {
    font-family: sans-serif;
    text-transform: uppercase;
    cursor: pointer;
}



.hidden {
    display: none !important;
}



.error {
    color: rgb(243 37 76);
}

.success {
    color: rgb(51 181 37);
}

.warning {
    color: rgb(207 163 35);
}



.text-center {
    text-align: center;
}



.text-indented {
    padding-left: 1rem;
}



.text-gray {
    color: #555;
}



/* Alternate rows in tables are differently colored for visual comfort. */

.alt-rows thead tr {
    background: #aaa;
}

.alt-rows tbody tr:nth-child(2n+1) {
    background: rgb(240 240 240);
}

.alt-rows tbody tr:nth-child(2n) {
    background: rgb(230 230 230);
}



.dropdown {
    margin-bottom: 0.5rem;
    padding: 0.25rem;
    border: 1px solid #ccc;
    max-height: 25vh;
    min-height: 10vh;
    min-width: 10rem;
    overflow-y: auto;
    box-shadow: 1px 1px 5px #ccc;
    background: var(--body-bg);
    position: absolute;
    z-index: var(--dropdown-z-index);
}

.dropdown-option {
    padding: 0.25rem 0.5rem;
    background: none;
    border: none;
    display: block;
    width: 100%;
    cursor: pointer;
}
.dropdown-option:hover {
    background: #ddd;
}



section.half-width-section {
    width: 45%;
    display: inline-block;
    vertical-align: top;
}



.mt-0 {
    margin-top: 0;
}

.mt-1 {
    margin-top: 0.25rem;
}

.mt-2 {
    margin-top: 0.5rem;
}

.mt-3 {
    margin-top: 1rem;
}

.mb-1 {
    margin-bottom: 0.25rem;
}



.disp-b {
    display: block;
}



/* ==================================================================

                                PAGINATION

   ================================================================== */

/* Pagination arrow icons are super big for some reason. This resizes them. */
svg.w-5.h-5 {
    width: 10px;
    height: 10px;
}



/* ==================================================================

                                WORD ADDER

   ================================================================== */

.word-adder .matched-list {
    border: 1px solid #ccc;
    margin-top: 0;
    width: 70%;
    padding: 0.5em;
    list-style: none;
    max-height: 50vh;
    overflow: auto;
}



/* ==================================================================

                              SENTENCE INDEX

   ================================================================== */

/* Input fields just below the header row are fitted with the cells. */
.search-fields-row td {
    padding: 0;
}

.search-fields-row td:not(.cell-text) > div {
    display: flex;
}

.search-fields-row input {
    width: 100%;
}

.search-fields-row input,
.search-fields-row input + button {
    border: 1px solid #aaa;
    border-radius: 0;
}

.search-fields-row input + button {
    border-left: none;
}



.cell-text > div {
    max-width: 30%;
    margin: 0 0.25rem;
    display: inline-block;
    display: inline-flex;
}

.cell-buttons,
.cell-text,
.cell-group,
.cell-source {
    text-align: center;
}



/*
    Crowdin contexts can contain IDs which appear in this format:
        abcd.efgh.ijkl.mnop
*/
.cell-context > div {
    word-break: break-word;
}

.cell-context > div:first-child {
    margin-bottom: 0.35rem;
}



.popup-wrap {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(0 0 0 / 50%);
    margin: 0;
    z-index: var(--popup-z-index);
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-wrap > .popup {
    background: var(--body-bg);
    padding: 1rem;
    box-shadow: 0 0 7px #555;
    max-width: 80vw;
    max-height: 80vh;
    overflow-y: auto;
}



/* ==================================================================

                              SENTENCE ADDER

   ================================================================== */

.chosen-assoc-word,
.chosen-assoc-group {
    border: 1px solid #aaa;
    padding: 0.15em 0.35em;
    margin: 0.15em;
    display: inline-block;
    border-radius: 0.5em;
}

.new-sentence-fields-wrap {
    padding: 0 1rem;
    border-width: 1px;
    margin: 0.5rem 0;
}
