section {
    border: 1px solid #ccc;
    padding: 1rem;
    margin: 1rem;
}

button {
    font-family: sans-serif;
    text-transform: uppercase;
}



.error {
    color: rgb(243 37 76);
}

.success {
    color: rgb(51 181 37);
}

.warning {
    color: rgb(207 163 35);
}



/* Pagination arrow icons are super big for some reason. This resizes them. */
svg.w-5.h-5 {
    width: 10px;
    height: 10px;
}



.single-example {
    margin-bottom: 1rem;
}

.single-example > p {
    margin: 0.25rem 0;
}



span.label {
    text-transform: uppercase;
    font-family: sans-serif;
    font-size: 0.7em;
}